{% extends "root.html" %}

{% block content %}
<header id="indexheader" class="pageheader" role="heading">

	<div class="right_header_pane">

		<svg id="crescent" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="18" height="18" viewBox="-9 -9 18 18">
			<circle cx="0" cy=0" r="8" fill="white"/>
			<path d="M-1.1 8A8 8 0 1 0-1.1-8M-1.1-8A20 20 0 0 1-1.1 8"/> 
			<path d="M-1.1 8A8 8 0 0 1-1.1-8" fill="none"/> -->
			<circle cx="0" cy=0" r="8" stroke="rgb(150, 150, 150)" fill="none" stroke-width="2"/>
		</svg>		
		<label class="switch">
			<input class="invertcolor" type="checkbox">
			<span class="slider round"></span>
		</label>	
	
		{% if config.extra.show_lang_switch %}
		<button>PT</button>
		{% endif %}
	
		<a class="acerca" href="/acerca">acerca de ...</a>
	
	</div>


</header>

<main role="main">

	<div id="leftcol">

		<section id="banner" role="banner">
			<svg id="artwork" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="600" height="300" viewBox="0 0 600 300">
				<rect x="0" y="0" width="100%" height="100%"
			fill="none" stroke="grey" stroke-width="2"  />
				<g id="gen">
				</g>

				<g id="namelabel_C" visibility="hidden">
					<text class="namelabel" x="20" y="180">
						<tspan>rui</tspan>
						<tspan dx="-78" dy="50">cavaco</tspan>
						<tspan dx="-183" dy="50">barrosa</tspan> 
					</text>
				</g>

				<g id="namelabel_B" visibility="hidden">
					<text class="namelabel" x="20" y="230">
						<tspan>rui cavaco</tspan>
						<tspan dx="-263" dy="50">barrosa</tspan>
					</text>
				</g>

				<g id="namelabel_A" visibility="visible">
					<text fill="white" class="namelabel" x="20" y="280">
						rui cavaco barrosa
					</text>
				</g>

			</svg>
			<!--
			<div id="namelabel">
				rui cavaco barrosa
			</div>
		-->
		</section>

		<section id="temascontainer">

			<header class="indexhdr">
				<h1>temas</h1>
				<div>&nbsp;</div>
			</header>
	
			<div id="articles">
	
				<article class="tema">
					<header>
						<h3>Mestrado em Planeamento Regional e Urbano</h3>
						(Univ. Aveiro)
					</header>
				</article>
	
				<article class="tema">
					<header>
						<h3>Metodologias de Análise Espacial em SIG</h3>
					</header>
				</article>	
	
				<article class="tema">
					<header>
						<h3>Textos sobre mobilidade</h3>
					</header>
				</article>
	
				<article class="tema">
					<header>
						<h3>RISCO mapas web</h3>
					</header>
				</article>
	
	
	
			</div>
		
	
		</section>

	</div>


	<div id="rightcol">

		<section id="blogview">

			<header  class="indexhdr">
				<h1>blog</h1>
				<div>&nbsp;</div>
			</header>

			<div class="posts">
				<article class="post">
					<header>
						<h4>Lançamento do site</h4>
						<p>2021-10-10</p>
					</header>
				</article>
			</div>

		</section>

		<section id="readingsview">

			<header  class="indexhdr">
				<h1>ler</h1>
				<div>&nbsp;</div>
			</header>

			<div class="posts">
				<article class="post leitura">
					<header>
						<h4>O Plano Marshall e a economia portuguesa dos anos 50</h4>
						<p>2021-10-10</p>
					</header>
				</article>
			</div>

		</section>

		<section id="fotosview">
			<header  class="indexhdr">
				<h1>ver</h1>
				<div>&nbsp;</div>
			</header>

			<div class="posts">
				<article class="post foto">
					<header>
						<h4>xxx zzz</h4>
						<p>2021-10-10</p>
					</header>
				</article>
			</div>

		</section>

	</div>

</main>

<footer id="indexfooter" role="contentinfo">
	<div class="footerleft">
		<span>
			Sítio mantido / gerado com <a href="https://www.getzola.org">Zola</a>.
		</span>
	</div>
	<div class="footercenter">
		<ul class="social-media-list">
			<li>
				<a href="https://github.com/rpcavaco">
					<svg class="svg-icon">
						<use xlink:href="/assets/minima-social-icons.svg#github"></use>
					</svg> 
					<span class="username">rpcavaco</span>
				</a>			
			</li>
			<li>
				<a href="https://www.twitter.com/rpcavaco">
					<svg class="svg-icon">
						<use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
					</svg> 
					<span class="username">rpcavaco</span>
				</a>
			</li>
		</ul>	
	</div>
	<div class="footerright">
		<span>
			Data de geração {{ config.extra.last_build_date | date(format="%Y-%m-%d") }}
		</span>
	</div>
</footer>

<script src="/js/art.js"></script>

{% endblock content %}